body {
    font-family: opendyslexic; Arial, sans-serif;
}
.jumbotron {
    background-color: #000000;
    color: yellow;
    padding: 4rem 2rem;
}
.portfolio-item {
    margin-bottom: 2rem; 
}
.portfolio-item img {
    width: 100%;
    height: auto;
}
.footer {
    background-color: #000000;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.navbar {
    background-color: #000000;font-family: opendyslexic; arial;}

.paragraph {font-family: opendyslexic; arial; sans-serif;color: blue;
}