.body {
    font-family: Helvetica; opendyslexic; Arial; sans-serif;
}
.jumbotron {
    background-color: whitesmoke;
    color: #000000;
    font-family: Helvetica; opendyslexic; Arial; sans-serif; 
    padding: 4rem 2rem;
}
.portfolio-item {
    margin-bottom: 2rem; 
}
.portfolio-item img {
    width: 100%;
    height: auto;
}
.footer {
    background-color: #000000;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.navbar {
    background-color: #000000;
    font-family: open; arial;}

.paragraph {font-family: open; arial; sans-serif;
    color: blue;
}

.navbar-brand {font-family: open; Arial, Helvetica, sans-serif; sans-serif;
color: blue;
}

.button {font-family: open; arial; sans-serif;
    color: blue;
}