h1 {
    color: darkblue; 
    font-family:'Lucida Sans', 'Lucida Sans Regular'; 
    font-size: xx-large;
}
h2 {
    color: blueviolet;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    font-size: x-large
}
.div {
    width: auto; margin:auto}
a:hover {color: yellow}
